
.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
   
}

.access-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 500;
    color: rgb(119, 190, 47);
    text-align: center;
    margin-bottom: 40px;
    padding: 10px 20px;
    border-radius: 8px;

    z-index: 10;
}


.signup-box {
    background: linear-gradient(15deg, #14201d, #1b163d, #5f5e61);

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #ffffff;

}


.signup-title {
    margin-bottom: 30px;
    font-size: 24px;
    color: chartreuse;
   
    font-weight: bold;
}


.signup-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.signup-input:focus {
    border-color: rgb(119, 190, 47);
    outline: none;
}


.signup-button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgb(119, 190, 47);

}

.signup-link {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
  
}

.signup-button:hover {
    background-color: rgb(49, 95, 3);
}


.p-tag {
    color: chartreuse;
 
}


@media (max-width: 480px) {
    .signup-box {
        padding: 30px;
    }

    .signup-input,
    .signup-button {
        font-size: 14px;
        padding: 12px;
    }

    .signup-title {
        font-size: 22px;
    }
}